:root {
  --active-color: #005ca4;
  --gray-color: #121212;
  --brown-color: #b87333;
}
img {
  max-width: 100%;
}
body {
  background: #000;
  font-family: "Poppins", sans-serif;
  /* font-size: 0.8rem; */
}
.text-blue {
  color: var(--active-color);
}
.text-grey {
  color: #7f7f7f;
}
.text-brown {
  color: var(--brown-color);
}
video {
  width: 100%;
  border-radius: 10px;
}
.heading-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -78px 0 0 -278px;
  font-size: 8.25vw;
}
.text-beleive {
  opacity: 0.3;
  font-style: italic;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 3.11px;
  text-align: center;
}
.btn-secondary {
  background: none;
  border: 2px solid #fff;
}
.bi-arrow-down {
  font-size: 35px;
}
.heading-2 {
  font-size: 6.25vw;
  line-height: 1;
}
.font-weight-extralight {
  font-weight: 200;
}
.list-group-item {
  background: none;
}
.sub-heading {
  font-size: 2.65vw;
  line-height: 1.4;
}
.text-strong {
  font-size: 1.2rem;
}
.font-weight-semibold {
  font-weight: 600;
}
.font-2rem {
  font-size: 1.4rem;
}
.list-group-flush .list-group-item {
  border-color: #363636;
}
.text-light-blue {
  color: #97d1ff;
}
.accordion > .card {
  background-color: unset;
}
.list-item {
  margin: 0 0 0 20px;
}
.list-item-custom {
  border: none;
}
.list-item-custom:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 1px;
  background: #fff;
  opacity: 0.5;
}

.list-item-custom:last-child:after {
  display: none;
}
.bg-blue {
  background: var(--active-color);
}
.bg-grey {
  background: #0b0b0b;
}
.bg-gray {
  background: var(--gray-color);
}
.container-design {
  padding: 12vw 0;
}
.bg-banner {
  background: url(../img/banner-2.jpg) center center/cover no-repeat;
  height: 532px;
}
.footer-links a {
  text-decoration: underline;
}
.bg-gray {
  background: var(--gray-color);
}
.grid-container {
  background: url(../img/bg-dots-grid.jpg) center center/cover no-repeat;
}
.grid-item {
  padding: 18px;
  text-align: center;
  border: 3px solid #9d9d9d;
  border-radius: 5px;
  margin: 10px;
  flex: 1 0 16%;
}
.grid-img img {
  width: 45px;
  padding: 2px;
}
.section-fully-loaded {
  background: url(../img/bg-dots-loaded.jpg) center center/cover no-repeat;
}
.product-image {
  background: url(../img/bg-dots-machine.jpg) center center/cover no-repeat;
}
.bg-dots-squeegee {
  background: #191919;
}
.overflow-img {
  position: absolute;
  top: -12vw;
  left: -8vw;
}
.country-flag {
  width: 35px;
  vertical-align: middle;
}
.img-main-logo {
  height: 70px;
}
.img-logo {
  width: 300px;
}
.tag {
  background: var(--brown-color);
  font-size: 10px;
  color: #fff;
  padding: 2px 5px;
  border-radius: 2px;
  text-transform: capitalize;
  display: inline-table;
}
.leaflet-grey {
  display: flex;
  align-items: center;
  flex: 1 0 21%;
  padding: 20px;
  background: #303030;
  margin: 10px;
  height: 124px;
}
.leaflet-grey:nth-of-type(n) {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.leaflet-grey:nth-of-type(2n) {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bg-gradient {
  background-image: linear-gradient(180deg, #0d0d0d 0%, #000000 100%);
}
.bg-dots-logo {
  background: url(../img/bg-dots-logo.png) center center/cover no-repeat;
}
.text-believe {
  font-size: 5.25vw;
}
.bg-design-construction {
  background-image: url(../img/bg-dots-design.png);
  background-repeat: no-repeat;
  background-position: 25% center;
  background-size: contain;
}
.bg-dots-features {
  background: url(../img/bg-dots-features.png) center center/cover no-repeat;
}
.navbar-nav .nav-link {
  font-size: 14px;
}
.list-icon .font-icon {
  height: 18px;
}
.font-icons {
  width: 1em;
  height: 1em;
  color: #fff;
}
.copyright p,
.copyright a {
  color: #c5c5c5 !important;
  font-size: 12px;
}
.animate {
  transition: 0.3s;
  transition-delay: 0s;
  transform-origin: left;
}
.animate-left {
  transform: translateX(-10%);
}
.animate-left.active {
  transform: translateX(0);
}
.animate-right {
  transform: translateX(10%);
}
.animate-right.active {
  transform: translateX(0);
}
.animate-top {
  transform: translateY(50px);
  opacity: 0;
}
.animate-top.active {
  transform: translateY(0);
  opacity: 1;
}
.animate-rotate {
  -ms-transform: rotate(30deg); /* IE 9 */
  transform: rotate(30deg); /* Standard syntax */
  opacity: 0;
}
.animate-rotate.active {
  -ms-transform: rotate(0); /* IE 9 */
  transform: rotate(0); /* Standard syntax */
  opacity: 1;
}
.animate-shake.active {
  animation: shake 0.5s;
  animation-iteration-count: 10;
}
.animate-race {
  transition: 2s;
  transform: translateX(-10%);
  opacity: 0;
  display: none;
}
.animate-race.active {
  transform: translateX(0);
  opacity: 1;
  display: block;
}
.list-group-item {
  border: none;
}
.list-group-item.active {
  background: none;
  border: none;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: var(--brown-color) !important;
  border-color: var(--brown-color) !important;
  outline: var(--brown-color) !important;
  box-shadow: none !important;
}
.bi-arrow-right-short {
  font-size: 30px;
}
.logo-container {
  height: 100px;
}
.grid-item p {
  height: 40px;
}
@media only screen and (max-width: 1024px) {
  .overflow-img {
    left: -3vw;
  }
}
@media only screen and (max-width: 600px) {
  .list-group-item {
    padding-left: 0;
  }
  .animate-rotate.active {
    animation: none;
    transform: none;
    transition: none;
  }
  .list-item {
    margin: 0 0 0 15px;
  }
  .img-main-logo {
    height: 35px;
  }
  .img-logo {
    width: 150px;
  }
  .leaflet-grey {
    padding: 10px;
    flex: 1 0 29%;
    height: auto;
  }
  .container-design {
    margin: 100px 0 0;
    padding: 0;
  }
  .grid-item {
    flex: 1 0 28%;
    padding: 10px;
  }
  .grid-img img {
    width: 35px;
  }
  .sub-heading {
    font-size: 1rem;
  }
  .font-2rem {
    font-size: 1rem;
  }
  .text-strong {
    font-size: 1rem;
  }
  .navbar-toggler {
    background: #fff;
    border-color: #fff;
  }
  .overflow-img {
    position: static;
    width: 80%;
  }
  .list-item-custom:after {
    width: 100%;
  }
  .text-believe {
    font-size: 11vw;
  }
}
